<div>
  <img src =""/>
</div>
{% schema %}
  {
    "name": "Banner Section",
    "settings": [
      {
        "id":"banner_title",
        "type":"text",
        "label":"Banner Title"
      }
    ],
    "presets": [
      {
        "name":"Banner Section"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}