<div class="container-fluid">
  <div class="row">
	 {% for block in section.blocks %}
	    {% if block.type == 'left_section' %}
          <div class="col-md-6">
					<div>
                     <img src= "{{ block.settings.left_image | img_url:'master' }}" />
                    </div>
					{{ block.settings.left_content }}
		  </div> 
		{% endif %}
	  {% endfor %}

{% capture my_variable %}
  I am the value of the variable
{% endcapture %}
<p>{{my_variable}}</p>




</div>	
</div>


{% schema %}
  {
    "name": "Multiple Blocks",
    "settings": [],
    "blocks": [{
      "type":"left_section",
      "name":"Left Section",
      "settings":[
        {
          "type":"image_picker",
          "id":"left_image",
          "label":"Image"
        },
        {
          "type":"textarea",
          "id":"left_content",
          "label":"Content"
        }
      ]
    }],
    "presets": [{
      "name":"Multiple Blocks"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}