<div class="multiple_block_sec">
<div class="container">
  <div class="row">
    
    <div class="col-md-6>
	 {% for block in section.blocks %}
       
		<div class="row col">
			<div class="col-md-4">
				<img src="{{ block.settings.left_image | img_url:'master' }}" />
			</div>
			<div class="col-md-8">
				{{ block.settings.left_content }}
			</div>
		</div>
    
	  {% endfor %}
	</div> 
	
 
  
	<div class="col-md-6>
	 {% for block in section.blocks %}
       
		<div class="row col">
			<div class="col-md-4">
				<img src="{{ block.settings.left_image | img_url:'master' }}" />
			</div>
			<div class="col-md-8">
				{{ block.settings.left_content }}
			</div>
		</div>
    
	  {% endfor %}
	</div> 
	
	
  </div>
</div>
</div>

{% schema %}
  {
    "name": "Multiple Blocks",
    "settings": [],
    "blocks": [{
      "type":"left_section",
      "name":"Left Section",
      "settings":[
        {
          "type":"image_picker",
          "id":"left_image",
          "label":"Image"
        },
        {
          "type":"textarea",
          "id":"left_content",
          "label":"Content"
        }
      ]
    }],
    "presets": [{
      "name":"Multiple Blocks"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}