
  <div class="row">
    
     <div class="col-md-6>
	 {% for block in section.blocks %}
	    {% if block.type == 'left_section' %}
					<div>
                     <img src= '{{ block.settings.left_image | img_url:'master' }}' />
                    </div>
					{{ block.settings.left_content }}
			
		{% endif %}
	  {% endfor %}
	</div> 
	
</div>


{% schema %}
  {
    "name": "Multiple Blocks",
    "settings": [],
    "blocks": [{
      "type":"left_section",
      "name":"Left Section",
      "settings":[
        {
          "type":"image_picker",
          "id":"left_image",
          "label":"Image"
        },
        {
          "type":"textarea",
          "id":"left_content",
          "label":"Content"
        }
      ]
    }],
    "presets": [{
      "name":"Multiple Blocks"
    }]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}